:root {
    --mainDark: #343a40;
    --mainGrey: rgba(109, 109, 109);
    --mainLightGrey: rgba(172, 172, 172);
    --mainWhite: #fff;
    --mainBlue: #007bff;
    --mainBlack: rgb(7, 7, 7);
}

i.navbar-toggler-icon:focus {
    outline: none;

}

i.navbar-toggler-icon {
    border: none;
}

.contact-btn {
    color: white !important;
    background-color: green !important;
    margin-top: 10px;
}