
.navbar-toggler:focus {
    outline: none;
  

}

  .navbar-toggler {
    border: none;
    

}  
#nsm{
    margin-right: 153px;
}
#nic{
    color:white;
    padding-right:40px;
}
#cw{
    color:rgb(211, 130, 130);
}
#navsol{
    width: 100%;
    
    position: static;
    z-index: 100;
    padding: 0.2rem 3px;
    transition: padding 0.4s ease-in-out 0s, background-color 0.4s ease-in-out 0s;
    border-bottom: 0.1rem solid rgba(255, 255, 255, 0.3);
}
