


@media only screen  and (min-width : 1224px) {
   
    #right {
        font-size: 40px;
    margin-top: 16px;
    padding-left: -16px;
    margin-left: 126px;
    padding-bottom: 24px;
    position: static;
}

        #left{
        font-size: 40px;
    margin-left: -62px;
    margin-right: 104px;
    margin-top: 16px;
    padding-left: 12px;
    padding-bottom: 23px;
    position: static;
        } 


    }


    
    
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
       
    #right {
        font-size: 40px;
    margin-top: 16px;
    padding-left: -16px;
    margin-left: 126px;
    padding-bottom: 24px;
    position: static;
}

        #left{
        font-size: 40px;
    margin-left: -62px;
    margin-right: 104px;
    margin-top: 16px;
    padding-left: 12px;
    padding-bottom: 23px;
    position: static;
        } 
        }
@media only screen  and (min-width : 1824px) {
    
    #right {
        font-size: 40px;
    margin-top: 16px;
    padding-left: -16px;
    margin-left: 126px;
    padding-bottom: 24px;
    position: static;
}

        #left{
        font-size: 40px;
    margin-left: -62px;
    margin-right: 104px;
    margin-top: 16px;
    padding-left: 12px;
    padding-bottom: 23px;
    position: static;
        } 

    }


















/* 
#pi{
    width: 236px;
    height: 385px;
}
#ob{
    padding-bottom: 11px;
}

@media(max-width: 760px) {
    #row{
        margin-right:-35px;
    }
    #front{
        padding-top:5px;
    }
}
@media (width: 1024px){
    #ob{
        padding-bottom: 28px;
    }
    #lb{padding-bottom:18px;
    }
   
}
@media (width: 992px){
    #ob{
        padding-bottom: 11px;
    }
    #lb{
        padding-bottom: 6px;
    }
}
@media(width: 1326px){
    #right{
        margin-left: 578px;
    }
    #bi{
        margin-bottom:15px;
    }
    #b1p{
        padding-bottom:10px
    }
    #two{
        padding-bottom:24px;
    }
    #ob{
        padding-bottom: 38px;
    }
    #lb{padding-bottom:5px;}
    #wan{
        margin-top:12px;
    }
    #wap{
        padding-bottom:10px;
    }
    #bh{
        margin-bottom:9px
    }
    #bhp{
        padding-bottom: 15px;
    }
    #pi{
        height:359px;
    }
    #owb{
        margin-bottom:9px;
    }
    #owp{
        padding-bottom: 15px;
    }
}

@media(width: 1440px){
    #bi{
        margin-bottom:15px;
    }
    #b1p{
        padding-bottom:23px
    }
    #pi{
        height: 359px;
    }
    #bh{
        margin-bottom:9px
    }
    #bhp{
        padding-bottom: 15px;
    }
    #wan{
        margin-top: 20px;
    }
    #ob{
        padding-bottom:22px;
    }
    #lb{
        margin-bottom: 15px;
    } */
   
    /* } */
    /* @media(width: 2560px){
        #two{padding-bottom: 24px;
        }
        #b1p{
            padding-bottom: 24px;
        }
        #pi {
            width: 236px;
            height: 335px;
        }
        #ob {
            padding-bottom: 17px;
            padding-top: 15px;
        }
       
        #liex{
            padding-bottom: -5px;
        }
        #wapb{
            padding-bottom: 5px;
        }        
    } */