
#pi{
    width: 236px;
    height: 385px;
}

@media(max-width: 760px) {
    #row{
        margin-right:-35px;
    }
    #front{
        padding-top:5px;
    }
}

@media(width: 1440px){
    #bi{
        margin-bottom:15px;
    }
    #bp{
        padding-bottom:9px
    }
    #pi{
        height: 359px;
    }
    #bh{
        margin-bottom:9px
    }
    #bhp{
        padding-bottom: 15px;
    }
    #wan{
        margin-top: 20px;
    }
    #ob{
        padding-bottom:20px;
    }
    }